# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual Environment (pipenv creates this in project)
.venv/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media
/staticfiles

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
