@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

:root {
  background-color: #242424;
  font-family: "Roboto Flex", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 100px auto;
  max-width: 60%;
  align-items: center;

  h1 {
    color: white;
    font-size: 3rem;
    margin-bottom: 0;
  }
}

/* .default-button {
  background-color: white;
  border-radius: 8px;
  color: blue;
  font-size: 24pt;
  padding: 15px 50px;
  width: 300px;
} */
