// -----------------------------
// layouts/_layout.scss
// -----------------------------

@use "../abstracts/index" as *;

// -----------------------------
// Layout helpers
// -----------------------------
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: var(--stack-gap, #{map-get($space-scale, 3)});
}
