:root {
  --background-color: teal;
  --foreground-color: white;
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
}

div {
  background-color: darkslategray;
  padding: 0.5rem;
  display: inline-block;
}

button {
  cursor: pointer;
  margin: 0.5rem;
}
