<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fruits Index</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="index-header-div">
      <!-- In our previous step, we used res.render() to pass the fruits data from our database to the EJS file. By passing { fruits: allFruits }, we made the allFruits array accessible in our EJS file as a variable named fruits. We can list our fruits in a simple, bulleted list format using an unordered list <ul>. This is done by looping over the fruits array and dynamically generating an <li> for each fruit’s name -->
      <a href="/"><h1>All Fruits</h1></a>
      <a class="add-fruit" href="/fruits/new">Add New Fruit</a>
    </div>
    <ul>
      <!-- As we iterate through the fruit objects, we already access their names using fruit.name. We can do the same for its id. Looking back at when we logged our data to the console.
      Utilizing _id will give us the id that we need. Now we can make the adjustment to the <a> tag and add a dynamic href. -->
      <% fruits.forEach(fruit => { %>
      <a class="fruit-cards" href="/fruits/<%= fruit._id %>">
        <%= fruit.name %>
      </a>
      <% }); %>
    </ul>
  </body>
</html>
