<% if (flash && Object.keys(flash).length) { %>
<div class="flash-container" aria-live="polite">
  <span class="sr-only" aria-hidden="true">Notifications</span>
  <% if (flash.success) { %> <% flash.success.forEach(msg => { %>
  <div class="flash flash--success" role="status" aria-atomic="true">
    <%= msg %>
  </div>
  <% }) %> <% } %> <% if (flash.error) { %> <% flash.error.forEach(msg => { %>
  <div class="flash flash--error" role="alert" aria-atomic="true">
    <%= msg %>
  </div>
  <% }) %> <% } %>
</div>
<% } %>
