<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <a href="/" class="brand-link">
        <h2>🌎 Solar System Manager</h2>
      </a>
    </div>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="/solar-bodies" class="nav-link">
          <span class="nav-icon">🚀</span>
          Explore Solar System
        </a>
      </li>
      <li class="nav-item">
        <a href="/solar-bodies/new" class="nav-link">
          <span class="nav-icon">➕</span>
          Add New Celestial Body
        </a>
      </li>
    </ul>
  </div>
</nav>
