:root {
  --bg-color: oklch(40.457% 0.00401 16.691);
  --fg-color: oklch(97.515% 0.01276 244.483);
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: system-ui, sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  header {
    margin: 0 0 2rem;
  }

  .board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 325px;
    height: 325px;

    .sqr {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 3px solid var(--fg-color);
      font-size: 64px;
    }
  }
}
