// -----------------------------
// components/_buttons.scss
// -----------------------------

// -----------------------------
// Button styles and variants
// -----------------------------
@use "../abstracts/index" as *;

button {
  @extend %btn-base;
  background-color: $button-bg;

  &:hover {
    border-color: $button-hover-border;
  }

  @include focus-ring;
}

.btn--ghost {
  @extend %btn-base;
  background-color: transparent !important;
  border-color: rgba(255, 255, 255, 0.06) !important;
}
