// -----------------------------
// components/_helpers.scss
// -----------------------------

// @use "abstracts/index" as *;

// -----------------------------
// Small, opt-in helper utilities
// -----------------------------
.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

// .container--responsive {
//   @include responsive-container();
// }

.text-muted {
  color: rgba(255, 255, 255, 0.6);
}
